services:
  node:
    # upon code changes, increment version so image is rebuilt
    image: medic-demo-account-slack-bot:1.0
    build:
      context: .
    volumes:
      - ./.env:/home/node/app/.env
    environment:
      - NODE_ENV=production
    restart: unless-stopped
