# tokens from slack.  See 1password for both dev and prod tokens
SLACK_SIGNING_SECRET=SECRET
SLACK_BOT_TOKEN=TOKEN
SLACK_APP_TOKEN=TOKEN

# URL, credentials and UUID of top most place in the CHT instance
# dev: create your place and update MEDIC_INSTANCE and PARENT_UUID to be correct
# prod: only MEDIC_PASSWORD needs to be changed - see 1password. If a new prod deployment is created,
#       update PARENT_UUID as needed
MEDIC_INSTANCE=demo-cht.dev.medicmobile.org
MEDIC_USER=medic
MEDIC_PASSWORD=password
PARENT_UUID=96b689c7-e656-408f-993f-3f00fbd5f4c6

# Credentials to send email through AWS email service.  See 1password
SMTP_USER=USER
SMTP_PASSWORD=PASSWORD
SMTP_URL=URL
SMTP_PORT=PORT

# full name and email used when test API /cht-user-create-test is called
# set TEST_EMAIL to "" (empty string) to not send email
TEST_NAME="test-ignore test-ignore"
TEST_EMAIL="testing-ignore-bounced@medic.org"
