SLACK_SIGNING_SECRET=SECRET
SLACK_BOT_TOKEN=TOKEN
SLACK_APP_TOKEN=TOKEN

MEDIC_INSTANCE=demo-cht.dev.medicmobile.org
MEDIC_USER=medic
MEDIC_PASSWORD=PASSWORD
PARENT_UUID=UUID

SMTP_USER=USER
SMTP_PASSWORD=PASSWORD
SMTP_URL=URL
SMTP_PORT=PORT

TEST_NAME="test-ignore test-ignore"
TEST_EMAIL="testing-ignore-bounced@medic.org"
TEST_PASSWORD=